#!/bin/bash

# Take advantage of direnv
export XDG_CACHE_HOME="$PWD/.direnv/cache"
export TASK_TEMP_DIR="$PWD/.direnv/task"

# Load custom user config
source_env_if_exists "$PWD/.envrc.local"
source_env_if_exists "$PWD/.envrc.secrets"

# Configure Python
layout_python3

# Activate
. ./scripts/activate.sh
